sentence-transformers
chromadb
unstructured 
pydf
google-generativeai
streamlit 
SpeechRecognition
pyttsx3 
requests 
beautifulsoup4  
sentence-transformers 
scikit-learn 
pyaudio
streamlit




uuid
autogen 
anthropic